@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");
* {
  font-family: "Open Sans", sans-serif;
}
.main {
  padding: 20px;
  margin: 0 auto;
  text-align: center;
}

.main img {
  animation: rotation 8s infinite linear;
}
.main title {
  width: 100px;
  height: 100px;
  background: red;
  transition: width 2s;
  transition-timing-function: cubic-bezier(0.1, 0.7, 1, 0.1);
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
